<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 
        Chơi Nhỏ
    </title>
    <link href="/stylesheets/game.css" rel="stylesheet" >
	<script type="text/javascript" src="/javascripts/game.js"></script>
    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script> 
    <![endif]-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Signika:wght@700&display=swap" rel="stylesheet">
    
</head>
<body>

    <div class="box_content">
        <header>

            <div class="menu">
                <ul>
                    
                    <li>Xin chào 
                    <% if(user) { %>
                        <b style="color: rgb(247, 247, 100);"><%= user.name %> </b>
                    <% } %> 
                    </li>
                    <li>Bạn đang có : 
                        <% if(user) { %>
                            <b style="color: rgb(247, 247, 100);"><%= user.money %> </b>
                        <% } %> 
                        $
    
                    </li>
                    <!-- <li>
                            Chuyển qua: 
                            <a href="../game/biggame"><b style="color: rgb(247, 247, 100);"> Chơi Lớn </b></a>
    
                    </li> -->
                    <li>
                            <a style="color: #02D9AE;" href="../game/leaderboard">BXH</a> 
    
                    </li>
                    <li>
                            <a style="color:#FFFF00;" href="../auth/logout">Đăng xuất</a> 
    
                    </li>
                </ul>
            </div>
        </header>
    
        <form action="/game" method="POST">
            <div class="content">
                    
                        <p class="text1">
                            Chọn 1 con số may mắn (trong khoảng từ 1 tới 5):
                            <input class="input" type="number" name="soCuoc" min="1" max="5" required autofocus>
                        </p>
                        <p class="text1">
                            Nhập số tiền bạn muốn đặt cược:
                            <input class="input" type="number" name="tienCuoc" min="1" 
                            max= <%= user.money %> required autofocus>
                        </p>
                        
            </div>
    
            <div id="mainbox" class="mainbox">
                
                <div id="box" class="box">
                    <div class="box1">
                        <span class="span1"></span>
                        <span class="span2"></span>
                        <span class="span3"></span>
                        <span class="span4"></span>
                    </div>
                    <div class="box2">
                        <span class="span1"></span>
                        <span class="span2"></span>
                        <span class="span3"></span>
                        <span class="span4"></span>
                    </div>
                </div>
                <button class="spin" type="submit" onclick="myfunction()">Quay</button>
            </div>
        </form>
    </div>
    

    <% var thongbao %> 
        <% var random %> 
        <% if ( thongbao ) {%> 

            <% if ( thongbao == "Chúc mừng, bạn đã đoán trúng.") {%> 

                <div class="box_firework">
                    <canvas id="canvas"></canvas>
                    <div class="text">
                        <span> <%= thongbao %> <br> Con số may mắn là <%= random %> <br> Bạn được cộng <%= (tienCuoc * 3 ) %> $  </span>
                    </div>
                </div>

            <% } else if ( thongbao == "Chia buồn, bạn đã đoán sai.") {%> 

                <div class="box_rainy">
                    <div class="rain"></div>
                    <div class="lightining"></div>
                    <div class="text" style="color: yellow;">
                        <span> <%= thongbao %> <br> Con số may mắn là <%= random %> <br> Bạn bị trừ <%= tienCuoc %> $ </span>
                    </div>
                </div>

            <% }%> 
        <% }%> 
<script>
    function myfunction(){
        var x = 1024;
        var y = 9999;

        var deg = Math.floor(Math.random() * (x-y)) + y;

        document.getElementById('box').style.transform = "rotate(" + deg + "deg)";

        var element = document.getElementById('mainbox');
        element.classList.remove('animate');
        setTimeout(function(){
            element.classList.add('animate');
        }, 1000);
    }

</script>

</body>
</html>