<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bảng Xếp Hạng</title>
    <link href="/stylesheets/leaderboard.css" rel="stylesheet">
</head>
<body>
    <div class="bg">
        <!-- header -->
        <header>
            <div id="logo">
                <a style="text-decoration: none; color: rgb(255, 255, 255); font-size: 20px;" href="/"> 
                    <img src="/images/logo.png" alt="">
                </a>
                
            </div>
            <div class="menu">
                <ul>
                    <% if(user) { %>
                    <li>Xin chào 
                        <b style="color: rgb(247, 247, 100);"><%= user.name %> </b>
                    </li>   
                    <% } %> 
                    

                    <li> 
                            <a href="../game/about"><b style="color: #88f099;"> Luật chơi </b></a>

                    </li>

                    <li>
                            <a href="../game"><b style="color: #ff7465;"> Chơi Game </b></a>

                    </li>

                </ul>
            </div>
        </header>
        <!-- end header  -->

            <!-- content -->
        <div class="box1">
            
            <h1> BẢNG XẾP HẠNG  </h1>

            <div class="table">
                <table class="content-table">
                    <thead>
                        <tr>
                            <th>Hạng</th>
                            <th>Tên người chơi</th>
                            <th>Số tiền</th>
                        </tr>
                    </thead>
                    <tbody>

                        <% userss.forEach(userss => { %>  
                            <% if ( userss  ==  user ) { %> 
                                <tr class="active-row">
                                    <td><%= i++ %> </td>
                                    <td><%= userss.name %> </td>
                                    <td><%= userss.money %>$</td>
                                    
                                </tr>
                            <% } else { %> 
                                <tr >
                                    <td><%= i++ %> </td>
                                    <td><%= userss.name %> </td>
                                    <td><%= userss.money %>$</td>
                                    
                                </tr>
                            <% } %> 
                        <%  }); %>

                    </tbody>
                </table>
            </div>

        </div>
        <!-- end content -->
    </div>

</body>
</html>

